In [64]:
import pandas as pd
df = pd.read_csv("E:tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [65]:
df["total_bill"].max()

np.float64(50.81)

In [66]:
df["tip"][df["sex"]=="Female"].mean()

np.float64(2.8334482758620685)

In [67]:
df.fillna(0,inplace=True)

In [68]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [69]:
rows, cols = df.shape # Shape Gives dimensions
print(rows)
print(cols)

6
4

In [70]:
df.head() # Gives first 5 rows
df.tail() # Gives last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [71]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [72]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [73]:
df.day  #both gives same answer
df["day"]

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [74]:
df[["event","day"]]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [75]:
max_Temp = df["temperature"].max()
mean_Temp = df["temperature"].mean()
standardDeviation_temp = df["temperature"].std()
print(max_Temp, mean_Temp, standardDeviation_temp)

35 30.333333333333332 3.8297084310253524

In [76]:
df.describe() # Gives all the statistics of the data

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [77]:
df[df.temperature >=35]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [78]:
df.set_index("day", inplace=True) # Sets the index to day

In [81]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny